@import url(https://fonts.googleapis.com/css?family=Indie+Flower);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Indie Flower', cursive;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Indie Flower', cursive;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Indie Flower', cursive;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Indie Flower', cursive;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Indie Flower', cursive;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Indie Flower', cursive;
}
.mbr-author-desc {
  font-family: 'Indie Flower', cursive;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Indie Flower', cursive;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Indie Flower', cursive;
  font-style: normal;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #53638a !important;
}
.bg-info {
  background-color: #354265 !important;
}
.bg-warning {
  background-color: #252f47 !important;
}
.bg-danger {
  background-color: #121212 !important;
}
.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary {
  background-color: #7a8fcb;
  border-color: #7a8fcb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #4662b3;
  border-color: #4662b3;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #4662b3 !important;
  border-color: #4662b3 !important;
}
.btn-info {
  background-color: #354265;
  border-color: #354265;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #1b2133;
  border-color: #1b2133;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #1b2133 !important;
  border-color: #1b2133 !important;
}
.btn-success {
  background-color: #53638a;
  border-color: #53638a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #36415a;
  border-color: #36415a;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #36415a !important;
  border-color: #36415a !important;
}
.btn-warning {
  background-color: #252f47;
  border-color: #252f47;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #0b0e15;
  border-color: #0b0e15;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #0b0e15 !important;
  border-color: #0b0e15 !important;
}
.btn-danger {
  background-color: #121212;
  border-color: #121212;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #3f58a0;
  color: #3f58a0;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #7a8fcb;
  border-color: #7a8fcb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #7a8fcb !important;
  border-color: #7a8fcb !important;
}
.btn-info-outline {
  background: none;
  border-color: #121622;
  color: #121622;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #354265;
  border-color: #354265;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #354265 !important;
  border-color: #354265 !important;
}
.btn-success-outline {
  background: none;
  border-color: #2d354a;
  color: #2d354a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #53638a;
  border-color: #53638a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #53638a !important;
  border-color: #53638a !important;
}
.btn-warning-outline {
  background: none;
  border-color: #020304;
  color: #020304;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #252f47;
  border-color: #252f47;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #252f47 !important;
  border-color: #252f47 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #121212;
  border-color: #121212;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #121212 !important;
  border-color: #121212 !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-success {
  color: #53638a !important;
}
.text-info {
  color: #354265 !important;
}
.text-warning {
  color: #252f47 !important;
}
.text-danger {
  color: #121212 !important;
}
.alert-success {
  background-color: #53638a;
}
.alert-info {
  background-color: #354265;
}
.alert-warning {
  background-color: #252f47;
}
.alert-danger {
  background-color: #121212;
}
.btn-social {
  border-color: #ffffff;
}
.btn-social:hover {
  background: #ffffff;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ffffff;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ffffff;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
.lead a,
.lead a:hover {
  color: #ffffff;
}
.lead blockquote {
  border-color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #9aa6c2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #697cb0;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #8e9ec4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #c4c4c4;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ffffff;
}
#header2-8 .mbr-section-title {
  text-align: center;
  font-size: 22px;
}
#header2-8 .btn {
  font-size: 20px;
}
#header2-8 .mbr-section-title I {
  text-align: right;
}
#social-buttons3-a .mbr-section-title,
#social-buttons3-a .btn-social {
  color: #fff;
}
#ext_menu-4 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4 .navbar-caption {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#ext_menu-4 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-4 .close-icon::before,
#ext_menu-4 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-4 .link,
#ext_menu-4 .dropdown-item {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}
#ext_menu-4 .link {
  font-size: 2.3rem;
}
#ext_menu-4 .dropdown-item,
#ext_menu-4 .nav-dropdown-sm .link {
  font-size: 2.491rem;
}
#ext_menu-4 .link:hover,
#ext_menu-4 .dropdown-item:hover,
#ext_menu-4 .link:focus,
#ext_menu-4 .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-4 .link[aria-expanded="true"],
#ext_menu-4 .dropdown-menu {
  background: #000000;
}
#ext_menu-4 .nav-dropdown-sm .link:focus,
#ext_menu-4 .nav-dropdown-sm .link:hover,
#ext_menu-4 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-4 .navbar,
#ext_menu-4 .nav-dropdown-sm,
#ext_menu-4 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-4 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4 .bg-color.transparent.opened .link:hover,
#ext_menu-4 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-4 .link[aria-expanded="true"],
#ext_menu-4 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#header2-d .btn {
  font-size: 20px;
}
#header2-d .mbr-section-text B {
  font-size: 20px;
}
#social-buttons3-e .mbr-section-title,
#social-buttons3-e .btn-social {
  color: #fff;
}
#header2-c .btn {
  font-size: 20px;
}
#header2-c .mbr-section-text {
  text-align: center;
}
#header2-c .mbr-section-title {
  text-align: center;
}
#contacts1-b P {
  text-align: center;
  font-size: 12px;
}


#ext_menu-4 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4 .navbar-caption {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#ext_menu-4 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-4 .close-icon::before,
#ext_menu-4 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-4 .link,
#ext_menu-4 .dropdown-item {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}
#ext_menu-4 .link {
  font-size: 2.3rem;
}
#ext_menu-4 .dropdown-item,
#ext_menu-4 .nav-dropdown-sm .link {
  font-size: 2.491rem;
}
#ext_menu-4 .link:hover,
#ext_menu-4 .dropdown-item:hover,
#ext_menu-4 .link:focus,
#ext_menu-4 .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-4 .link[aria-expanded="true"],
#ext_menu-4 .dropdown-menu {
  background: #000000;
}
#ext_menu-4 .nav-dropdown-sm .link:focus,
#ext_menu-4 .nav-dropdown-sm .link:hover,
#ext_menu-4 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-4 .navbar,
#ext_menu-4 .nav-dropdown-sm,
#ext_menu-4 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-4 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4 .bg-color.transparent.opened .link:hover,
#ext_menu-4 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-4 .link[aria-expanded="true"],
#ext_menu-4 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#features6-g P {
  color: #ffffff;
}
#features6-g H4 {
  color: #ffffff;
}
